---
to: test/output/cmd_{{ name | snake }}.go
---

package output

import (
	"log"

	"github.com/spf13/cobra"
)

func {{ name | camel }}Cmd() *cobra.Command {
	return &cobra.Command{
		Use:   "{{ name | lower }}",
		Short: "a new command",
		Long:  "a new command",
		Run:   {{ name | camel }}Func(),
	}
}

func {{ name | camel }}Func() cmdFunc {
	return func(cmd *cobra.Command, args []string) {
		if len(args) == 0 {
			log.Println("at least 1 argument must be provided")
			return
		}
	}
}
