---
to: test/output/output.go
inject: true
before: }, nil
---
{{ $repo := printf "%sRepo" .N.PascalCase }}
{{ $constructor := printf "New%sRepo(db, logger)" .N.PascalCase }}
{{- printf "\n    %s%s %s," $repo ":" $constructor }}
