---
to: example/fakr/{{ name }}.go
zip: this will be added to the meta block
---

package {{ name }}

import "fmt"

func main() {
    fmt.PrintLn("hello world")
    fmt.PrintLn("{{ vars.zip }}")
    fmt.PrintLn("{{ vars.foo }}") // passed in cmd args
    fmt.PrintLn("{{ vars.bin }}") // passed in cmd args
}
