---
to: example/fakr/{{ name }}_stringers.go
list: foo,bar,bin,baz
contains_check: flash gordon
---

package {{ name }}

import "fmt"

func main() {

    {% set nameList = vars.list|split(",") %}
    {% for item in nameList %}
        fmt.PrintLn("{{ item }}")
    {% endfor %}


    {% if vars.contains_check|contains("flash") %}
        fmt.PrintLn("contains flash")
    {% endif %}


    {% if vars.contains_check|hasprefix("flash") %}
        fmt.PrintLn("has prefix flash")
    {% endif %}

    {% if vars.contains_check|hassuffix("gordon") %}
        fmt.PrintLn("has suffix gordon")
    {% endif %}

    {% set enumList = vars.enum_list|default:""|split("-") %}
    {% for item in enumList %}
        fmt.PrintLn("{{ item }}")
    {% endfor %}
}
