---
to: example/fakr/{{ .Name }}.go
zip: this will be added to the meta block
---

package {{ .Name }}

import "fmt"

func main() {
    fmt.PrintLn("hello world")
    fmt.PrintLn("{{ .Meta.zip }}")
    fmt.PrintLn("{{ .Meta.foo }}") // passed in cmd args
    fmt.PrintLn("{{ .Meta.bin }}") // passed in cmd args
}