---
to: example/fakr/{{ name|kebab }}.go
bar: randomText
---

package {{ name }}

import "fmt"

func main() {
    fmt.Println("hello world")
    fmt.Println("{{ vars.bar|snake }}")
    fmt.Println("{{ vars.bar|kebab }}")
    fmt.Println("{{ vars.bar|pascal }}")
    fmt.Println("{{ vars.bar|lower }}")
    fmt.Println("{{ vars.bar|title }}")
    fmt.Println("{{ "flashGordon"|snake|title }}")
}
